In [3]:
import requests
import json
import prettytable
import pandas as pd
import pprint
import csv

headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['LNS13000000','LNS13000000'],"startyear":"2011", "endyear":"2014"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
            if 'M01' <= period <= 'M12':
                x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()

In [4]:
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 142,
 'message': [],
 'Results': {'series': [{'seriesID': 'LNS13000000',
    'data': [{'year': '2014',
      'period': 'M12',
      'periodName': 'December',
      'value': '8717',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M11',
      'periodName': 'November',
      'value': '9090',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M10',
      'periodName': 'October',
      'value': '8990',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M09',
      'periodName': 'September',
      'value': '9262',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M08',
      'periodName': 'August',
      'value': '9599',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M07',
      'periodName': 'July',
      'value': '9608',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M06',
      'periodName': 'June',
      'value': '9460',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M05',
      'periodName': 'May',
      'value': '9859',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M04',
      'periodName': 'April',
      'value': '9702',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M03',
      'periodName': 'March',
      'value': '10380',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M02',
      'periodName': 'February',
      'value': '10349',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M01',
      'periodName': 'January',
      'value': '10202',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M12',
      'periodName': 'December',
      'value': '10404',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M11',
      'periodName': 'November',
      'value': '10787',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M10',
      'periodName': 'October',
      'value': '11136',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M09',
      'periodName': 'September',
      'value': '11270',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M08',
      'periodName': 'August',
      'value': '11279',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M07',
      'periodName': 'July',
      'value': '11335',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M06',
      'periodName': 'June',
      'value': '11751',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M05',
      'periodName': 'May',
      'value': '11654',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M04',
      'periodName': 'April',
      'value': '11760',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M03',
      'periodName': 'March',
      'value': '11689',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M02',
      'periodName': 'February',
      'value': '11950',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M01',
      'periodName': 'January',
      'value': '12471',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M12',
      'periodName': 'December',
      'value': '12298',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M11',
      'periodName': 'November',
      'value': '12005',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M10',
      'periodName': 'October',
      'value': '12124',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M09',
      'periodName': 'September',
      'value': '12115',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M08',
      'periodName': 'August',
      'value': '12471',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M07',
      'periodName': 'July',
      'value': '12656',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M06',
      'periodName': 'June',
      'value': '12692',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M05',
      'periodName': 'May',
      'value': '12660',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M04',
      'periodName': 'April',
      'value': '12646',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M03',
      'periodName': 'March',
      'value': '12713',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M02',
      'periodName': 'February',
      'value': '12813',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M01',
      'periodName': 'January',
      'value': '12797',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M12',
      'periodName': 'December',
      'value': '13093',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M11',
      'periodName': 'November',
      'value': '13302',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M10',
      'periodName': 'October',
      'value': '13594',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M09',
      'periodName': 'September',
      'value': '13948',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M08',
      'periodName': 'August',
      'value': '13818',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M07',
      'periodName': 'July',
      'value': '13763',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M06',
      'periodName': 'June',
      'value': '13962',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M05',
      'periodName': 'May',
      'value': '13855',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M04',
      'periodName': 'April',
      'value': '13957',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M03',
      'periodName': 'March',
      'value': '13737',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M02',
      'periodName': 'February',
      'value': '13820',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M01',
      'periodName': 'January',
      'value': '14013',
      'footnotes': [{}]}]}]}}

In [5]:
with open('json_data.json', 'w', encoding='utf-8') as f:
    json.dump(json_data, f, ensure_ascii=False, indent=4)

In [6]:
# Opening JSON file and loading the data 
# into the variable data 
with open('json_data.json') as json_file: 
    unemp_data = json.load(json_file) 
  
unemployment_data = unemp_data['Results'] 
  
# now we will open a file for writing 
data_file = open('json_data_file.csv', 'w') 
  
# create the csv writer object 
csv_writer = csv.writer(data_file) 
  
# Counter variable used for writing  
# headers to the CSV file 
count = 0
  
for unemp in unemployment_data: 
    if count == 0: 
  
        # Writing headers of CSV file 
        header = unemp_data.keys() 
        csv_writer.writerow(header) 
        count += 1
  
    # Writing data of CSV file 
    csv_writer.writerow(unemp_data.values()) 
  
data_file.close()

In [7]:
# Converting the JSON_DATA [unemployment_data] to be written into the database
with open('json_data.json', 'r', encoding='utf-8') as f:
    json_data = json.loads(f.read())

unemployment_data = json_data.get('Results',{}).get('series', [])

# Preparing Data to be inserted to Database
json_list = []
for series_row in unemployment_data:
    series_id = series_row.get('seriesID', '')
    series_year_data = series_row.get('data', [])
    temp = {}
    for series_year_dict in series_year_data:
        temp['seriesID'] = series_id
        temp.update(series_year_dict)
        json_list.append(temp)
        
# Converting Dictionary to DataFrame
df = pd.json_normalize(json_list)
df['footnotes'] = df['footnotes'].map(str)

In [8]:
df.head()

      seriesID  year period periodName  value footnotes
0  LNS13000000  2011    M01    January  14013      [{}]
1  LNS13000000  2011    M01    January  14013      [{}]
2  LNS13000000  2011    M01    January  14013      [{}]
3  LNS13000000  2011    M01    January  14013      [{}]
4  LNS13000000  2011    M01    January  14013      [{}]

In [9]:
# Create A Database Connection to Postgress (pgAdmin)
from sqlalchemy import create_engine

# Applied username and password to the engine string
engine = create_engine('postgresql://postgres:postgres@127.0.0.1:5432/ETLPROJ', echo=False)
db_connection = engine.raw_connection()

In [10]:
drop_table_sql = '''
DROP TABLE IF EXISTS unemployment;
'''

create_table_sql = '''
CREATE TABLE unemployment(
"seriesID" character varying(250),
"year" character varying(250),
"period" character varying(250),
"periodName" character varying(250),
"value" character varying(250),
"footnotes" character varying(250)
)
'''

In [11]:
cursor = db_connection.cursor()
cursor.execute(drop_table_sql)
cursor.execute(create_table_sql)
db_connection.commit()
cursor.close()

In [12]:
# Insert Data into Database
df.to_sql (name = "unemployment", schema = 'public', con = engine, if_exists = "replace", index = False)